<div class="row">
<div class="col-sm-6" *ngIf="departamentosSelecionado">
  
  <app-titulo [titulo] = "(departamentosSelecionado.id === 0 ? 'Novo Departamento' : 'Departamento ' + departamentosSelecionado.id)">
    <button class=" btn-md btn-sm btn btn-outline-danger" (click)="voltar()">Fechar</button>
  </app-titulo>

  <form [formGroup]="departamentoForm" (submit)="departamentoSubmit()">
    <div class="form-group">
      <label for="formGroupExampleInput">Nome</label>
      <input type="text" formControlName="nome" class="form-control" >
    </div>
    <!--<div class="form-group">
      <label for="formGroupExampleInput2">Sigla</label>
      <input type="text" formControlName="sigla" class="form-control" >
    </div>-->
    <div class="form-group">
      <hr>
      <button class="btn btn-success" [disabled]="!departamentoForm.valid">Salvar</button>
    </div>

  </form>

</div>
<div [ngClass]="{'col-sm-6': departamentosSelecionado, 'col-sm-12': !departamentosSelecionado}">
  <app-titulo [titulo] = "titulo">
    <button class="btn btn-success" (click)="departamentoNovo()">Cadastrar Departamento</button>
  </app-titulo>

  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th scope="col">Visualizar</th>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Siglas</th>
        <th scope="col">Opções</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dept of departamentos" style="cursor: pointer;">
        <td><button (click)="departamentosSelect(dept)" class="btn btn-outline-warning btn-sm">Visualizar</button></td>
        <th scope="row">{{dept.id}}</th>
        <td class="table-active">{{dept.nome}}</td>
        <!--<td>{{dept.sigla}}</td>-->
        <td>
          <div class="btn-group">
            <button (click)="openModal(template)" class="btn btn-outline-primary btn-sm">Funcionários</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</div>

</div>

 
<ng-template #template>
  <div class="modal-body">
    <app-funcionarios></app-funcionarios>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn pull-right" aria-label="Close" (click)="modalRef?.hide()">

      Fechar

    </button>
  </div>
</ng-template>